{% load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    {#    Icon#}
    <link rel="icon" href="https://trends.edison.tech/favicon.ico" type="image/x-icon" />
    {#    Date script#}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    {#    Bootstrap#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template-->
  <link href="{% static 'edisontracker/css/styles.css' %}" rel="stylesheet">
</head>

<body id="page-top">

 <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light static-top">

    <a class="navbar-brand mr-1" href="index.html"> <img width="200" heigh="100" src="https://trends.edison.tech/assets/img/logo-edison-trends-blue.png"></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

     {% include "edisontracker/sidebar.html" with active="index" %}


    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a >Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Home</li>
             <li class="breadcrumb-item active">Map</li>
        </ol>

        <!-- Page Content -->
       <div class="container py-2">
           <div class="row">
               <div class="col-md-12">
                   <form id="form">
                       <div class="row">
                           <div class="col-sm-6">

{#                                       <option name="CompanyName" value = "{{ category }}">{{ category }}</option>#}

                               <label class="my-1 mr-2" for="company">Select Company</label>
                               <select class="custom-select my-1 mr-sm-2 mb-3" id="companies" list="companies" name="company">

                                   {% for key, value in categories.items %}
                                       <optgroup label="{{ key }}">

                                   {% for key2 in value %}
                                        <option name="CompanyName" value = "{{ key2 }}">{{ key2 }}</option>
                                    {% endfor %}
                                {% endfor %}
                               </select>
                           </div>

                        <div class="col-sm-6">

{#                                       <option name="CompanyName" value = "{{ category }}">{{ category }}</option>#}

                                 <label class="my-1 mr-2" for="company">Select Companies to Compare Against</label>
                               <select class="custom-select my-1 mr-sm-2 mb-3" multiple id="compare" list="companies" name="compare">
                                   {% for key, value in categories.items %}
                                       <optgroup label="{{ key }}">

                                   {% for key2 in value %}
                                        <option name="CompanyName" value = "{{ key2 }}">{{ key2 }}</option>
                                    {% endfor %}
                                {% endfor %}
                               </select>
                           </div>
                           <div id="outputMerch" class="col-sm-6">
                           </div>
                               <script>

                                   $(function() {
                                       var start = moment().subtract(29, 'days');
                                       var end = moment();

                                       function cb(start, end) {
                                           $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                                       }

                                       $('#reportrange').daterangepicker({
                                           startDate: start,
                                           endDate: end,
                                           ranges: {
                                               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                                               'Last year': [moment().subtract(2, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                               'Last 2 years': [moment().subtract(3, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                               'Last 5 years': [moment().subtract(6, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                           }
                                       }, cb);

                                       cb(start, end);

                                   });
                               </script>
                           </div>
                       <input  id="formSubmit" type="submit" class="btn btn-primary my-1" value="Submit">
                   </form>

                   <div id="output" class="col-md-12 text-center mb-5">

                   </div>
               <br>
               <br>
                <div class="loading" >
                       <img src="{% static 'edisontracker/images/loading.gif' %}">
                   </div>
            </div>
        </div>
      </div>
      </div>

      <!-- Sticky Footer -->
        {% include "edisontracker/footer.html" with active="index" %}

    </div>
  </div>
  <!-- /#wrapper -->



<script>

    $(document).ready( function() {
        $('#companies').select2({

            placeholder: "Select an option"
        });
        $('#compare').select2({

            placeholder: "Multiple options are allowed",
            closeOnSelect: false
        });

        $("#formSubmit").click(function(event){

          event.preventDefault();
            console.log($('#compare').val())
          $.ajax({
            type : "GET",
            url  : "/map",
            dataType: "html",
            data : {
                "to_plot": $('#companies').val(),
               "compare[]": $('#compare').val()
            },
            beforeSend: function() {
                    $(".loading").show();
                    $("#output").hide();
                },
            success : function(data){
                $("#output").html( '<iframe name= "MyFrame" id ="map" style="width:1000px; height:450px" src ="{% static 'edisontracker/plot/map.html' %}" ></iframe>');
                           },
            complete: function(data,status) {
              if(status!="success"){
                       $("#output").html("Error: No data for this time frame.");
                    }
              console.log(status);
                    $("#output").show();
                    $(".loading").hide();
            }

        });//AJAX

        });

    }
    )
</script>
</body>
</html>