{% load static from staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
{#    Icon#}
    <link rel="icon" href="https://trends.edison.tech/favicon.ico" type="image/x-icon" />
    {#    Date script#}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{#    Bootstrap#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        var userPref= {
            start:"",
            end:"",

        }
    </script>
</head>
<body>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
		        <div class="col-md-12 text-center mb-5">
                    <img src="https://trends.edison.tech/assets/img/logo-edison-trends-blue.png">
			    </div>
                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select a Feature to Plot</label>
                    <select class="custom-select my-1 mr-sm-2 mb-3" id="inlineFormCustomSelectPref">
                        <option>Choose one...</option>
                        <option value="myct">myct</option>
                        <option value="mmin">mmin</option>
                        <option value="mmax">mmax</option>
                        <option value="cach">cach</option>
                        <option value="chmin">chmin</option>
                        <option value="chmax">chmax</option>
                        <option value="prp">prp</option>
                        <option value="erp">erp</option>
                    </select>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Date Range</label>
                    <input class="custom-select my-1 mr-sm-2 mb-3" type="text" id="daterange" name="daterange" value="01/01/2018 - 01/15/2018" />
                    <script>
                        $(function() {
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'

                            }, function(start, end, label) {
                               userPref.start=start;
                               userPref.end=end;
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        });
                    </script>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Company Select</label>
                  <input class="custom-select my-1 mr-sm-2 mb-3" list="companies" name="company">
                  <datalist id="companies">
                   {% for company in company_list %}
                        <option nam="CompanyName" value = "{{ company }}">
                   {% endfor %}

              </datalist>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Remember my preference</label>
                    </div>

                    <input  id="formSubmit" type="submit" class="btn btn-primary my-1" value="submit">
                </form>
                <div id= "output" class="col-md-12 text-center mb-5">
                    <!--img src="{% static 'edisontracker/images/bargraph.png' %}"-->
			    </div>
            </div>
        </div>
    </div>


</body>
<script>

    $(document).ready( function() {
        $("#formSubmit").click(function(event){

          event.preventDefault();
          console.log($("#inlineFormCustomSelectPref :selected").val());
          console.log(userPref);
          $.ajax({
            type : "GET",
            url  : "https://jsonplaceholder.typicode.com/photos",
            dataType : "json",
            data : {},
            success : function(data){
                console.log(data[0]);
                $("#output").append("<iframe style='width:900px; height:400px' src='/map'></iframe>");

            },
            complete: function(data,status) { //optional, used for debugging purposes
              // alert(status);
            }

        });//AJAX

        });







    }
    )
</script>
</html>