{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Sales</title>
{#    Icon#}
    <link rel="icon" href="https://trends.edison.tech/favicon.ico" type="image/x-icon" />
    {#    Date script#}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{#    Bootstrap#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.full.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template-->
  <link href="{% static 'edisontracker/css/styles.css' %}" rel="stylesheet">
    <script>
        var userPref= {
            start:"",
            end:"",

        }
    </script>
</head>

<body id="page-top">

 <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light static-top">

    <a class="navbar-brand mr-1" href="index.html"> <img width="200" heigh="100" src="https://trends.edison.tech/assets/img/logo-edison-trends-blue.png"></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    {% include "edisontracker/sidebar.html" with active="market"%}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a >Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Market Sales</li>
        </ol>

        <!-- Page Content -->
       <div class="container py-2">
           <div class="row">
               <div class="col-md-12">
                   <form id="form">
                       <div class="row">
                           <div class="col-sm-6">
                               <label class="my-1 mr-2" for="company">Select Company</label>
                               <select class="custom-select my-1 mr-sm-2 mb-3" id="category" list="companies" name="company">
                                   <option name="CompanyName" value = none">Select a Category</option>

                                   {% for key, value in categories.items %}

                                        <option name="CompanyName" value = "{{ key }}">{{ key }}</option>

                                {% endfor %}
                               </select>
                           </div>
                           <div id="outputMerch" class="col-sm-6">
                           </div>
                               <script>
                                   $(function() {
                                       var start = moment().subtract(29, 'days');
                                       var end = moment();

                                       function cb(start, end) {
                                           $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                                       }

                                       $('#reportrange').daterangepicker({
                                           startDate: start,
                                           endDate: end,
                                           ranges: {
                                               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                                               'Last year': [moment().subtract(2, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                               'Last 2 years': [moment().subtract(3, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                               'Last 5 years': [moment().subtract(6, 'year').startOf('year'), moment().subtract(1,'year').endOf('year')],
                                           }
                                       }, cb);

                                       cb(start, end);

                                   });
                               </script>
                           </div>
                       <input  id="formSubmit" type="submit" class="btn btn-primary my-1" value="Submit">
                   </form>
                    <div class="loading" >
                       <img src="{% static 'edisontracker/images/loading.gif' %}">
                   </div>
                   <div id="output" class="col-md-12 text-center mb-5">
                   </div>
            </div>
        </div>
      </div>
    </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
        {% include "edisontracker/footer.html" with active="index" %}

    </div>
    <!-- /.content-wrapper -->

  </div>


<script>

    $(document).ready( function() {
        $('#category').select2({

            placeholder: "Select an option"
        });
        let i = 0;

        $("#category").change(
            function () {
                let categoryChoice = $("#category").val();
                $.ajax({
                type: "GET",
                url: "/getMerchants",
                dataType: "text",
                data: {
                    "category": categoryChoice
                },
                success: function (data) {
                console.log(data)
                    $("#outputMerch").html("<div class='from-group'><label class='my-1 mr-2' for='merchants'>Select Merchants</label></div>" + data);
$('#choice').select2({

            placeholder: "Select an option",
             closeOnSelect: false
        });
                }
            })
            }
        );

         $("#formSubmit").click(function(event){
            let date = $('#reportrange span').text().split(" - ");
            let fDate = moment(date[0],'MMMM DD, YYYY').format("'MM/DD/YYYY'");
            let tDate = moment(date[1],'MMMM DD, YYYY').format("'MM/DD/YYYY'");
            let categoryChoice = $("#category").val();
            let merchantChoice = $("#merchants").val();
            i++;
            console.log()
            var merch = $("#choice").val()

            event.preventDefault();

            merch = JSON.stringify(merch)

            $.ajax({
                type: "GET",
                url: "/getPlot",
                dataType: "json",
                data: {
                    "category": categoryChoice,
                    "merchantChoice": merch,
                    "start_date": fDate,
                    "end_date": tDate,
                },
                 beforeSend: function() {
                    $(".loading").show();
                    $("#output").hide();
                },
                success: function (data) {

                    $("#output").html("<img style='width:460px; height:340px' src =" + data.plotTimeSale + "?" + i + "></iframe>");
                    $("#output").append("<img style='width:460px; height:340px' src =" + data.plotMarketShare + "?" + i + "></iframe>");
                },
                 complete: function(status){
                    console.log(status);
                    if(status.statusText!="OK"){
                       $("#output").html("Error: Not able to get data.");
                    }
                    $("#output").show();
                    $(".loading").hide();
                }
            })

        })
    })
</script>
</body>
</html>
