{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Sales</title>
{#    Icon#}
    <link rel="icon" href="https://trends.edison.tech/favicon.ico" type="image/x-icon" />
    {#    Date script#}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{#    Bootstrap#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template-->
  <link href="{% static 'edisontracker/css/styles.css' %}" rel="stylesheet">
    <script>
        var userPref= {
            start:"",
            end:"",

        }
    </script>
</head>

<body id="page-top">

 <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light static-top">

    <a class="navbar-brand mr-1" href="index.html"> <img width="200" heigh="100" src="https://trends.edison.tech/assets/img/logo-edison-trends-blue.png"></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <div class="sidebar-sticky">
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="marketsales.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Market Sales</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Sales All Companies</span>
                </a>
            </li>
        </ul>
    </div>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a >Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Sales All Companies</li>
        </ol>

        <!-- Page Content -->
       <div class="container py-2">
        <div class="row">
            <div class="col-md-12">

                <form class="form-inline">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Date Range</label>
                    <input class="custom-select my-1 mr-sm-2 mb-3" type="text" id="daterange" name="daterange" value="01/01/2018 - 01/15/2018" />
                    <script>
                        $(function() {
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'

                            }, function(start, end, label) {
                               userPref.start=start;
                               userPref.end=end;
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        });
                    </script>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Company Select</label>
                  <input class="custom-select my-1 mr-sm-2 mb-3" list="companies" name="company">
                  <datalist id="companies">
                   {% for company in company_list %}
                        <option nam="CompanyName" value = "{{ company }}">
                   {% endfor %}

                  </datalist>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Merchant 1" name="Merchant 1">
                        <label class="form-check-label" for="defaultCheck1">Merchant 1</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Merchant 2" name="Merchant 2">
                        <label class="form-check-label" for="defaultCheck2">Merchant 2</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="Merchant 3" name="Merchant 3">
                        <label class="form-check-label" for="defaultCheck3">Merchant 3</label>
                    </div>

                    <input  id="formSubmit" type="submit" class="btn btn-primary my-1" value="Submit">
                </form>
                <div id= "output" class="col-md-12 text-center mb-5">
			    </div>
            </div>
        </div>
    </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Footer message goes here</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
<script>

    $(document).ready( function() {
         $("#formSubmit").click(function(event){

          event.preventDefault();

            $.ajax({
                type: "GET",
                url: "/getSalePlot",
                dataType: "json",
                data: {},
                success: function (data) {
                   $("#output").html("<img style='width:460px; height:340px' src =" + data.plotAllSales + "></iframe>");
                }
            })

        })
    })
</script>
</body>
</html>
