{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Market Sales</title>
{#    Icon#}
    <link rel="icon" href="https://trends.edison.tech/favicon.ico" type="image/x-icon" />
    {#    Date script#}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
{#    Bootstrap#}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- Custom styles for this template-->
  <link href="{% static 'edisontracker/css/styles.css' %}" rel="stylesheet">
    <script>
        var userPref= {
            start:"",
            end:"",

        }
    </script>
</head>

<body id="page-top">

 <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-light bg-light static-top">

    <a class="navbar-brand mr-1" href="index.html"> <img width="200" heigh="100" src="https://trends.edison.tech/assets/img/logo-edison-trends-blue.png"></a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

 {% include "edisontracker/sidebar.html" with active="sales"%}

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a >Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Sales All Companies</li>
        </ol>

        <!-- Page Content -->
       <div class="container py-2">
        <div class="row">
            <div class="col-md-12">

                <form class="form-group">
                    <div class="form-group">
                        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Get the Sales from All Companies</label>
                    </div>
                    <input  id="formSubmit" type="submit" class="btn btn-primary my-1" value="Submit">
                </form>
                <div class="loading" >
                       <img src="{% static 'edisontracker/images/loading.gif' %}">
                   </div>
                   <div id="output" class="col-md-12 text-center mb-5">
                   </div>
            </div>
        </div>
    </div>
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
        {% include "edisontracker/footer.html" with active="index" %}

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->

<script>

    $(document).ready( function() {
         $("#formSubmit").click(function(event){

          event.preventDefault();

            $.ajax({
                type: "GET",
                url: "/getSalePlot",
                dataType: "json",
                data: {},
                 beforeSend: function() {
                    $(".loading").show();
                    $("#output").hide();
                },
                success: function (data) {
                   $("#output").html("<img style='width:600px; height:350px' src =" + data.plotAllSales + "></iframe>");
                },
                 complete: function(status){
                    console.log(status);
                    if(status.statusText!="OK"){
                       $("#output").html("Error: No data for "+merchantChoice+ " for this time frame.");
                    }
                    $("#output").show();
                    $(".loading").hide();
                }
            })

        })
    })
</script>
</body>
</html>
